body {
    background-color: lightyellow;
}

input {
    width: 200px;
}

button {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h2 {
    font-size: 16px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.markComplete {
    background-color: lightblue;
}

table.collegeRuled {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #FFFFFF;
    text-align: center;
    border-collapse: collapse;
  }
  table.collegeRuled td, table.collegeRuled th {
    padding: 5px 5px;
  }
  table.collegeRuled tbody td {
    font-size: 12px;
  }
  table.collegeRuled tr:nth-child(even) {
    background: #FFFFE0;
  }
  table.collegeRuled thead {
    background: #FFFFE0;
  }
  table.collegeRuled thead th {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: center;
  }
  table.collegeRuled tfoot td {
    font-size: 14px;
  }
  